<div class="container-fluid">
  <div class="col-sm-12 col-md-6 col-lg-5 col-xl-3 mx-auto mt-3">
    <h2>Sign in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-3 mt-3">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email address", class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter your password", class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.submit "Sign in", class: "btn btn-dark px-3" %>
    </div>
    <% end %>
  </div>
</div>