<div class="container-fluid">
  <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
    <h2>Item Detail</h2>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">
      <div><%= image_tag @item.get_image, size: "250x250", class: "mt-3 rounded" %></div>
      <div>
        <table class="table table-borderless mt-2">
          <tr>
            <td><h3><%= @item.name %></h3></td>
          </tr>
          <tr>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td>¥<%= @item.add_tax_price.to_s(:delimited) %> - (include tax)</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="text-center">
      <% if @item.is_active == false %>
        <button class="btn btn-success disabled px-4 me-3">Sold Out</button><%= link_to :back do %><button class="btn btn-danger px-4">Back</button><% end %>
      <% else %>
        <%= form_with model: @cart_item, url: public_cart_items_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <% if customer_signed_in? %><%= f.hidden_field :customer_id, :value => current_customer.id %><% end %>
        <%= f.select :amount, *[1..20] %>
        <%= f.submit "Add Cart", class: "btn btn-success px-4 me-3", name: nil %><%= link_to :back do %><button class="btn btn-danger px-4">Back</button><% end %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>