<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid py-2">
    <%= link_to public_path , class: "navbar-brand mx-5" do %><%= image_tag 'brand.png', size: "30x30" , class: "d-inline-block align-text-top me-2" %>Nagano Coffee<% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <span class="navbar-text ms-5">Welcome to Nagano Coffee</span>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <%= link_to public_path , class: "nav-link" do %>
            <% if current_page?(public_path) %>
              <button type="button" class="btn btn-light px-3"><i class="fa-solid fa-house me-1"></i>Home</button>
            <% else %>
              <button type="button" class="btn btn-outline-light px-3"><i class="fa-solid fa-house me-1"></i>Home</button>
            <% end %>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to public_about_path , class: "nav-link" do %>
            <% if current_page?(public_about_path) %>
              <button type="button" class="btn btn-light px-3"><i class="fas fa-lightbulb me-1"></i>About</button>
            <% else %>
              <button type="button" class="btn btn-outline-light px-3"><i class="fas fa-lightbulb me-1"></i>About</button>
            <% end %>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to public_about_path , class: "nav-link" do %>
            <% if current_page?(public_about_path) %>
              <button type="button" class="btn btn-light px-3"><i class="fas fa-coffee me-1"></i>Items</button>
            <% else %>
              <button type="button" class="btn btn-outline-light px-3"><i class="fas fa-coffee me-1"></i>Items</button>
            <% end %>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to public_about_path , class: "nav-link" do %>
            <% if current_page?(public_about_path) %>
              <button type="button" class="btn btn-light px-3"><i class="fas fa-user-plus me-1"></i>Sign up</button>
            <% else %>
              <button type="button" class="btn btn-outline-light px-3"><i class="fas fa-user-plus me-1"></i>Sign up</button>
            <% end %>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to public_about_path , class: "nav-link" do %>
            <% if current_page?(public_about_path) %>
              <button type="button" class="btn btn-light px-3"><i class="fas fa-sign-in-alt me-1"></i>Sign in</button>
            <% else %>
              <button type="button" class="btn btn-outline-light px-3"><i class="fas fa-sign-in-alt me-1"></i>Sign in</button>
            <% end %>
          <% end %>
        </li>
      </ul>
      <form class="d-flex ms-5">
        <input class="form-control me-2" type="search" placeholder="Item Search..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</header>